.button {
  padding: $m-gutter / 2;
  border: 0;
  border-radius: 0.2rem;
  outline: none;
  background: $c-pure-white;
  cursor: pointer;
}

.is-info {
  background: $c-white;
  color: $c-secondary;

  &:active {
    background: darken($c-secondary, 15%);
  }
}

.is-success {
  background: $c-primary;
  color: $c-white;

  &:active {
    background: $c-light;
  }
}
