.index-main {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background: $c-primary;
}

.heading {
  color: $c-black;
  font-size: 3rem;
}

.button-links {
  display: flex;
  justify-content: space-around;
}

.button-link {
  padding: ($m-gutter / 2) $m-gutter;
  border: 0;
  border-radius: 0.5rem;
  background: $c-black;
  color: $c-white;
  font-size: 2rem;
}
