// @import 'yoga';
// @import 'normalize';

$fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
$c-primary: #96ca2d;
$c-light: #b5e655;
$c-secondary: #4bb5c1;
$c-secondary-light: #7fc6bc;
$c-white: #edf7f2;
$c-pure-white: #fff;
$c-black: #282828;

$m-gutter: 1rem;
$m-max-width: 60rem;

$s-shadow-1: 4px 6px 20px -2px $c-black;

$font: 'Dosis', sans-serif;

@import 'font-awesome';
@import 'box-sizing';
@import 'reset';
@import 'nav';
@import 'layout';
@import 'index';

.register-main {
  display: flex;
  justify-content: center;
  height: 100vh;
  background: $c-white;
}

.register-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 25rem;
  background: $c-pure-white;
  box-shadow: $s-shadow-1;

  &__heading {
    padding: $m-gutter / 2;
    background: $c-primary;
    color: $c-white;
  }

  &__form {
    padding: 0 ($m-gutter / 2);
  }

  &__title {
    margin: 0.5rem 0 0;
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    margin: $m-gutter (-$m-gutter / 2) 0;
    padding: $m-gutter ($m-gutter / 2);
    border-top: 1px solid $c-secondary;
  }
}

.input {
  width: 100%;
  border: 0;
  border-bottom: 2px solid $c-secondary;
  outline: none;
  background: $c-pure-white;
  font-size: 1rem;

  &:focus {
    border-bottom: 2px solid $c-secondary-light;
  }
}

.button {
  padding: $m-gutter / 2;
  border: 0;
  border-radius: 0.2rem;
  background: $c-pure-white;

  &__login {
    background: $c-white;
    color: $c-secondary;
  }

  &__signup {
    background: $c-primary;
    color: $c-white;
  }
}
